fastapi
uvicorn[standard]

python-dotenv
pydantic
pydantic-settings

supabase

neo4j==5.28.1

langchain
langchain-community
langchain-core

langchain-google-genai

ollama

google-generativeai

python-jose
passlib[bcrypt]
python-multipart

httpx
requests

networkx

tiktoken

orjson

loguru

pytest
pytest-asyncio

gunicorn